::view-transition-group(root) {
	animation-duration: 0s !important; /* Disable the animation by setting duration to 0 */
}

#starlight__sidebar {
	padding-left: max(32px, calc((100% - (1440px - 64px)) / 2));
}

@media (min-width: 1440px) {
  :root {
    --total-sidebar-width: calc((100% - (1440px - 64px)) / 2 + 272px - 32px);
  }

  #starlight__sidebar {
    width: var(--total-sidebar-width);
  }
}

header.header {
  padding-left: calc(var(--total-sidebar-width) - 272px + 54px);
  padding-right: calc((100vw - 1440px) / 2 + 32px) !important;
  border-bottom: none !important;
  padding-bottom: 0;
}

.title-wrapper {
  width: calc(272px - 80px);
}

header.header > div.header {
  display: flex;
  align-items: center;
  justify-content: start;
}

header.header > div.header > div:not(.title-wrapper) {
  padding-bottom: .75rem;
}

header.header > div.header > div:nth-child(2) {
  margin-left: 3rem;
}

header.header .right-group {
  margin-left: auto;
}

button > kbd {
  display: block !important;
  margin-inline-start: .5rem !important;
}

:root {
  --sl-content-width: 45rem;
  --sl-sidebar-width: var(--total-sidebar-width);
}

aside.right-sidebar-container {
  max-width: 256px;
}

main {
  max-width: calc(688px + 4rem);
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  right: 2rem;
  margin-top: 3rem;
}

.content-panel {
  padding: 0 !important;
  border: none !important;
}

.sl-container {
  width: 100%;
  margin: 0;
  max-width: none;
}

div.right-sidebar {
  width: 100%;
  max-width: 256px;
  border: none;
  overflow: visible;
}

.right-sidebar-panel {
  margin-top: 3rem;
  padding-left: 1rem;
  border-left: 1px solid var(--sl-color-gray-5);
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: relative;
  right: 5rem;
}

starlight-toc ul li a {
  padding-left: 0;
  font-size: .875em !important;
  margin-bottom: .25rem;
}

starlight-toc h2 {
  font-size: .875em !important;
}

h1 {
  font-size: 32px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 24px !important;
  margin-bottom: 1rem;
}

.content-panel ul {
  padding-inline-start: 20px;
}

div.sidebar-content {
  padding-right: 2rem !important;
}

div.sidebar-content * {
  font-size: .875rem;
}

div.sidebar-content li {
  padding: 0;
  margin: 0;
  border: none;
}

div.sidebar-content ul.top-level > li {
  margin-bottom: 1rem;
  border-top: 1px solid var(--sl-color-gray-5);
  padding-top: 1rem;
}

div.sidebar-content ul.top-level > li:first-of-type {
  padding-top: 0;
  border-top: none;
}

div.sidebar-content ul.top-level > li:last-of-type {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--sl-color-gray-5);
}

[aria-current=page] {
  background-color: transparent !important;
  color: var(--sl-color-text-accent) !important;
}

.site-title {
  width: 100%;
  padding-bottom: .75rem;
}

.title-wrapper {
  height: calc(100% + 1px);
}

[data-has-sidebar] .title-wrapper {
  border-bottom: 1px solid var(--sl-color-gray-5);
}

.sidebar-content summary {
  padding-right: 0;
}

a.large {
  color: var(--sl-color-gray-2);
  font-weight: 400;
}